<section class="container-fluid">
    <form [formGroup]="formGroup" (ngSubmit)="adicionar()" class="form">
        Titulo: <input class="input" type="text" formControlName="titulo" placeholder="example">
        Descrição: <input class="input" type="text" formControlName="descricao" placeholder="example">
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>  
           
    <table class="table w-50 p-3">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          @for (item of tarefas; track $index){
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.titulo}}</td>
            <td>{{item.descricao}}</td>
            <td>
              <!-- <a href="excluir/{{item.id}}"><input class="btn btn-danger" type="button" value="remover"></a>
              <a href="cliente/{{item.id}}"><button class="btn btn-warning">editar</button></a> -->
            </td>
          </tr>
        } 
        </tbody>
      </table>
</section>