<section class="forms container-fluid">
  <form [formGroup]="clientForm" (ngSubmit)="inserir()" class="form">
    Nome: <input class="input" type="text" formControlName="nome">
    Telefone: <input class="input" type="text" formControlName="telefone">
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
  <table class="table w-50 p-3  ">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of clientes; track $index){
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.nome}}</td>
        <td>{{item.telefone}}</td>
        <td>
          <a href="excluir/{{item.id}}"><input class="btn btn-danger" type="button" value="remover"></a>
          <a href="cliente/{{item.id}}"><button class="btn btn-warning">editar</button></a>
        </td>
      </tr>
    } 
    </tbody>
  </table>
</section>